body {
    background-color: lightgray;
}

.cell
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.fillcell
{
    background-color: rgb(233, 233, 233);
    padding: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    box-shadow: 5px 5px 10px black;
}

.fillcell:hover
{
    transform: scale(1.025,1.025);
    box-shadow: 10px 10px 10px black;
}

.fillCallout
{
    padding: 30px;
}

