body {
    background-color: steelblue;
    background-image: url(../../background-images/background-imager/Elegant_Background-4.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

.cell
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.fillcell
{
    background-color: rgb(233, 233, 233);
    padding: 15px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    box-shadow: 5px 5px 10px rgb(75, 75, 75);
}

.fillcell:hover
{
    transform: scale(1.025,1.025);
    box-shadow: 10px 10px 10px rgb(75, 75, 75);
}

.fillCallout
{
    padding: 30px;
}

.description
{
    margin-top: 20px;
}

.fillmenuitem
{
    background-color: white;
    color: gray;
}

.fillmenuitem:hover{
    transition: all 1s ease;
    background-color: lightgray;
    color: black;
}

.menu a
{
    background-color: white;
    color: gray;
    width: 100px;
    border-radius: 3px;
}

.menu a:hover
{
    transition: all 1s ease;
    background-color: lightgray;
    color: black;
}

h4
{
    margin: 15 auto;
}

.orbit-controls{
    position: relative;
    top: 300px;
}

.menu .is-active > a
{
    background: black;
}

.menu .is-active > a:hover
{
    transition: all 0s ease;
    background-color: black;
    color: white;
}

.reveal
{
    padding: 0;
}